
.gradient{
    background: linear-gradient(-45deg, #59138e, #2ab6f8, #4b01b8, #4F30E8);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.input-group{
    /*position: relative;*/
    /*left: 33%;*/
    justify-content: center;
    padding: 20px;
    margin: 15px 0 15px;
}

select {
    border-radius: 5px;
}

.btn-outline-dark {
    background: rgba(255, 255, 255, 0.8);
}

.btn-outline-light{
    background: #1a1e21;
}

.card {
    height: auto;
    width: 500px;
    margin: auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    /*display: inline-block;*/
    /*vertical-align:top;*/
}

.stat {
    right: 0;
}

.favorite {
    width: 500px;
    padding: 0;
}